# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA Files
.idea/
*.iml

# Compiled output
out/
target/

# Secrets/Config (MUST be added if you use a separate config file)
secrets.properties
local.env